.project {
  background-color: var(--clr-white);
  border-top: 4px solid var(--clr-yellow);
  width: 80%;
  margin: 0 auto;
  padding: 0.5em;

  display: flex;
  flex-direction: column;
}

.project + .project {
  margin-top: 1em;
}

@media (min-width: 35em) {
  .project {
    width: 100%;
  }

  .project + .project {
    margin: 0;
  }
}
