:root {
  font-size: calc(0.5em + 1vw);

  --clr-blue: hsl(240, 100%, 50%);
  --clr-light-blue: hsl(240, 10%, 90%);
  --clr-yellow: hsl(60, 100%, 50%);
  --clr-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin: 0;
}
