:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: 'Lato', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 1em;
  line-height: 1.5;
  background-color: #eceff1;
  color: var(--clr-black);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 2em);
  background-color: var(--clr-white);
}

.flow > * + * {
  margin-top: 1rem;
}

.home {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 2em;
}

@media (min-width: 35em) {
  .home {
    flex-direction: row;
  }
}

.banner__title {
  line-height: 1;
  font-size: 3rem;
}

.nav__list {
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 1rem;
}

.writing__list {
  padding-left: 1rem;
  list-style-type: disc;
}

.articles-host__link {
  font-weight: 700;
  opacity: 0.8;
  transition: all 600ms ease-in;
}

.articles-host__link:hover {
  opacity: 1;
  color: #1565c0;
}

.illustration {
  margin: 0 0 2.5rem 0;
}

@media (min-width: 35em) {
  .illustration {
    margin: 0 0 0 2rem;
    display: flex;
    justify-content: center;
  }
}
