:root {
  font-size: calc(0.5em + 1vw);

  --clr-black: #000000;
  --clr-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: 'Lato', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: var(--clr-white);
  color: var(--clr-black);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.flow > * + * {
  margin-top: 1rem;
}

.home__container {
  padding: 0 2em;
}

@media (min-width: 35em) {
  .home__container {
    width: 60%;
  }
}

.banner__title {
  line-height: 1;
  font-size: 3rem;
}

.nav__list {
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 1rem;
}

.writing__list {
  padding-left: 1rem;
  list-style-type: disc;
}
