.banner {
  display: flex;
  width: 100%;
  padding: 1.5em 0;
}

.intro {
  width: 50%;
  align-self: center;
}

.intro__profession {
  display: inline-block;
  padding: 0.2em 0.5em;
  background-color: var(--clr-gold);
  border-bottom: 4px solid var(--clr-green);
  font-weight: bold;
  font-size: 1.2rem;
}

.email-address {
  display: inline-block;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.2em;
  transition: background-color 0.6s cubic-bezier(0.87, 0, 0.13, 1),
    color 0.4s 0.3s ease-in;
}

.email-address:hover {
  background-color: var(--clr-medium-green);
  box-shadow: 0 10px 6px -6px var(--clr-box-shadow);
  color: var(--clr-white);
}

.profile {
  width: 40%;
  display: flex;
  margin-left: auto;
}

.profile-image {
  border: 3px solid var(--clr-medium-green);
  margin: 0 auto;
}
