.section__projects {
  padding: 1em;
}

@media (min-width: 35em) {
  .section__projects {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
  }
}
